<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>YOU</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="TypingText.js">
	/****************************************************
	* Typing Text script- By Twey @ Dynamic Drive Forums
	* Visit Dynamic Drive for this script and more: http://www.dynamicdrive.com
	* Please keep this notice intact
	****************************************************/
	</script>
</head>
<body>


<%= yield %>

</body>
</html>
