

<div class="start">
	<h1 font-family="Arial"> YOU </h1>

	    	
	    <%= button_to "Continue Story", scenario_path(2),:method =>:get, :class=>"buttons" %>
		<br></br>	    		

	    <%= button_to "New Story", scenario_path(Scenario.root_scenario), :methode =>:get, :class =>"buttons" %></div>
</div>




