
<div class = "choices">
	<textarea rows="4" cols="50" class = "story">
This is where the current story and scenarios will be posted 
</textarea>
	<br></br>
	<%= button_to "Choice 1", scenarios_path(1), :class=>"choiceButton" %>
			<br></br>	    		
	<%= button_to "Choice 2", scenarios_path(1), :class =>"choiceButton" %>
			<br></br>
	<%= button_to "Choice 3", scenarios_path(1), :class=>"choiceButton" %>
			<br></br>	 
</div>
	<%= button_to "Save Progress",scenarios_path(1), :class=>"saveButton"%>
