
<div>
    <h2 class = "choices"><%= @scenario.story %></h2>
    <div class = "choices">
        <% @choices.each do |c| %>
            <%= button_to c.option, scenario_path(c.scenario_id), :method => :get, :class=>"choiceButton" %>
            <br></br>
        <% end %>
        <br></br>
	    <br></br>
	    <%= button_to "Save Progress",save_game_path, :class=>"choiceButton"%> 
    </div>
     
</div>

